<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.vpn.mapper.SequenceValueItemMapper">
    <resultMap id="BaseResultMap" type="com.asiainfo.vpn.bean.SequenceValueItem">
        <result column="SEQ_NAME" jdbcType="VARCHAR" property="seqName"/>
        <result column="SEQ_ID" jdbcType="INTEGER" property="seqId"/>
        <result column="LAST_UPDATED_STAMP" jdbcType="TIMESTAMP" property="lastUpdatedStamp"/>
        <result column="LAST_UPDATED_TX_STAMP" jdbcType="TIMESTAMP" property="lastUpdatedTxStamp"/>
        <result column="CREATED_STAMP" jdbcType="TIMESTAMP" property="createdStamp"/>
        <result column="CREATED_TX_STAMP" jdbcType="TIMESTAMP" property="createdTxStamp"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    SEQ_NAME, SEQ_ID, LAST_UPDATED_STAMP, LAST_UPDATED_TX_STAMP, CREATED_STAMP, CREATED_TX_STAMP
  </sql>
    <select id="selectByExample" parameterType="com.asiainfo.vpn.bean.SequenceValueItemExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from sequence_value_item
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <delete id="deleteByExample" parameterType="com.asiainfo.vpn.bean.SequenceValueItemExample">
        delete from sequence_value_item
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.asiainfo.vpn.bean.SequenceValueItem">
    insert into sequence_value_item (SEQ_NAME, SEQ_ID, LAST_UPDATED_STAMP, 
      LAST_UPDATED_TX_STAMP, CREATED_STAMP, CREATED_TX_STAMP
      )
    values (#{seqName,jdbcType=VARCHAR}, #{seqId,jdbcType=INTEGER}, #{lastUpdatedStamp,jdbcType=TIMESTAMP}, 
      #{lastUpdatedTxStamp,jdbcType=TIMESTAMP}, #{createdStamp,jdbcType=TIMESTAMP}, #{createdTxStamp,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.asiainfo.vpn.bean.SequenceValueItem">
        insert into sequence_value_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="seqName != null">
                SEQ_NAME,
            </if>
            <if test="seqId != null">
                SEQ_ID,
            </if>
            <if test="lastUpdatedStamp != null">
                LAST_UPDATED_STAMP,
            </if>
            <if test="lastUpdatedTxStamp != null">
                LAST_UPDATED_TX_STAMP,
            </if>
            <if test="createdStamp != null">
                CREATED_STAMP,
            </if>
            <if test="createdTxStamp != null">
                CREATED_TX_STAMP,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="seqName != null">
                #{seqName,jdbcType=VARCHAR},
            </if>
            <if test="seqId != null">
                #{seqId,jdbcType=INTEGER},
            </if>
            <if test="lastUpdatedStamp != null">
                #{lastUpdatedStamp,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdatedTxStamp != null">
                #{lastUpdatedTxStamp,jdbcType=TIMESTAMP},
            </if>
            <if test="createdStamp != null">
                #{createdStamp,jdbcType=TIMESTAMP},
            </if>
            <if test="createdTxStamp != null">
                #{createdTxStamp,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.asiainfo.vpn.bean.SequenceValueItemExample"
            resultType="java.lang.Long">
        select count(*) from sequence_value_item
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update sequence_value_item
        <set>
            <if test="record.seqName != null">
                SEQ_NAME = #{record.seqName,jdbcType=VARCHAR},
            </if>
            <if test="record.seqId != null">
                SEQ_ID = #{record.seqId,jdbcType=INTEGER},
            </if>
            <if test="record.lastUpdatedStamp != null">
                LAST_UPDATED_STAMP = #{record.lastUpdatedStamp,jdbcType=TIMESTAMP},
            </if>
            <if test="record.lastUpdatedTxStamp != null">
                LAST_UPDATED_TX_STAMP = #{record.lastUpdatedTxStamp,jdbcType=TIMESTAMP},
            </if>
            <if test="record.createdStamp != null">
                CREATED_STAMP = #{record.createdStamp,jdbcType=TIMESTAMP},
            </if>
            <if test="record.createdTxStamp != null">
                CREATED_TX_STAMP = #{record.createdTxStamp,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update sequence_value_item
        set SEQ_NAME = #{record.seqName,jdbcType=VARCHAR},
        SEQ_ID = #{record.seqId,jdbcType=INTEGER},
        LAST_UPDATED_STAMP = #{record.lastUpdatedStamp,jdbcType=TIMESTAMP},
        LAST_UPDATED_TX_STAMP = #{record.lastUpdatedTxStamp,jdbcType=TIMESTAMP},
        CREATED_STAMP = #{record.createdStamp,jdbcType=TIMESTAMP},
        CREATED_TX_STAMP = #{record.createdTxStamp,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
</mapper>