<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.vpn.mapper.VpnDialRecordMapper">
    <resultMap id="BaseResultMap" type="com.asiainfo.vpn.bean.VpnDialRecord">
        <id column="VPN_DIAL_RECORD_ID" jdbcType="VARCHAR" property="vpnDialRecordId"/>
        <result column="FIRST_NAME" jdbcType="VARCHAR" property="firstName"/>
        <result column="VPN_DIAL_CAUSE" jdbcType="VARCHAR" property="vpnDialCause"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
        <result column="DIAL_DATE" jdbcType="TIMESTAMP" property="dialDate"/>
        <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="LAST_UPDATED_STAMP" jdbcType="TIMESTAMP" property="lastUpdatedStamp"/>
        <result column="CREATED_STAMP" jdbcType="TIMESTAMP" property="createdStamp"/>
        <result column="CREATED_BY_USER_LOGIN" jdbcType="VARCHAR" property="createdByUserLogin"/>
        <result column="TELECOM_NUMBER" jdbcType="VARCHAR" property="telecomNumber"/>
        <result column="DEPARTMENT_ID" jdbcType="VARCHAR" property="departmentId"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    VPN_DIAL_RECORD_ID, FIRST_NAME, VPN_DIAL_CAUSE, DESCRIPTION, DIAL_DATE, CREATED_DATE, 
    LAST_UPDATED_STAMP, CREATED_STAMP, CREATED_BY_USER_LOGIN, TELECOM_NUMBER, DEPARTMENT_ID
  </sql>
    <select id="selectByExample" parameterType="com.asiainfo.vpn.bean.VpnDialRecordExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from vpn_dial_record
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from vpn_dial_record
        where VPN_DIAL_RECORD_ID = #{vpnDialRecordId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from vpn_dial_record
    where VPN_DIAL_RECORD_ID = #{vpnDialRecordId,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.asiainfo.vpn.bean.VpnDialRecordExample">
        delete from vpn_dial_record
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.asiainfo.vpn.bean.VpnDialRecord">
    insert into vpn_dial_record (VPN_DIAL_RECORD_ID, FIRST_NAME, VPN_DIAL_CAUSE, 
      DESCRIPTION, DIAL_DATE, CREATED_DATE, 
      LAST_UPDATED_STAMP, CREATED_STAMP, CREATED_BY_USER_LOGIN, 
      TELECOM_NUMBER, DEPARTMENT_ID)
    values (#{vpnDialRecordId,jdbcType=VARCHAR}, #{firstName,jdbcType=VARCHAR}, #{vpnDialCause,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{dialDate,jdbcType=TIMESTAMP}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{lastUpdatedStamp,jdbcType=TIMESTAMP}, #{createdStamp,jdbcType=TIMESTAMP}, #{createdByUserLogin,jdbcType=VARCHAR}, 
      #{telecomNumber,jdbcType=VARCHAR}, #{departmentId,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.asiainfo.vpn.bean.VpnDialRecord">
        insert into vpn_dial_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="vpnDialRecordId != null">
                VPN_DIAL_RECORD_ID,
            </if>
            <if test="firstName != null">
                FIRST_NAME,
            </if>
            <if test="vpnDialCause != null">
                VPN_DIAL_CAUSE,
            </if>
            <if test="description != null">
                DESCRIPTION,
            </if>
            <if test="dialDate != null">
                DIAL_DATE,
            </if>
            <if test="createdDate != null">
                CREATED_DATE,
            </if>
            <if test="lastUpdatedStamp != null">
                LAST_UPDATED_STAMP,
            </if>
            <if test="createdStamp != null">
                CREATED_STAMP,
            </if>
            <if test="createdByUserLogin != null">
                CREATED_BY_USER_LOGIN,
            </if>
            <if test="telecomNumber != null">
                TELECOM_NUMBER,
            </if>
            <if test="departmentId != null">
                DEPARTMENT_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="vpnDialRecordId != null">
                #{vpnDialRecordId,jdbcType=VARCHAR},
            </if>
            <if test="firstName != null">
                #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="vpnDialCause != null">
                #{vpnDialCause,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="dialDate != null">
                #{dialDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createdDate != null">
                #{createdDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdatedStamp != null">
                #{lastUpdatedStamp,jdbcType=TIMESTAMP},
            </if>
            <if test="createdStamp != null">
                #{createdStamp,jdbcType=TIMESTAMP},
            </if>
            <if test="createdByUserLogin != null">
                #{createdByUserLogin,jdbcType=VARCHAR},
            </if>
            <if test="telecomNumber != null">
                #{telecomNumber,jdbcType=VARCHAR},
            </if>
            <if test="departmentId != null">
                #{departmentId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.asiainfo.vpn.bean.VpnDialRecordExample" resultType="java.lang.Long">
        select count(*) from vpn_dial_record
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update vpn_dial_record
        <set>
            <if test="record.vpnDialRecordId != null">
                VPN_DIAL_RECORD_ID = #{record.vpnDialRecordId,jdbcType=VARCHAR},
            </if>
            <if test="record.firstName != null">
                FIRST_NAME = #{record.firstName,jdbcType=VARCHAR},
            </if>
            <if test="record.vpnDialCause != null">
                VPN_DIAL_CAUSE = #{record.vpnDialCause,jdbcType=VARCHAR},
            </if>
            <if test="record.description != null">
                DESCRIPTION = #{record.description,jdbcType=VARCHAR},
            </if>
            <if test="record.dialDate != null">
                DIAL_DATE = #{record.dialDate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.createdDate != null">
                CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.lastUpdatedStamp != null">
                LAST_UPDATED_STAMP = #{record.lastUpdatedStamp,jdbcType=TIMESTAMP},
            </if>
            <if test="record.createdStamp != null">
                CREATED_STAMP = #{record.createdStamp,jdbcType=TIMESTAMP},
            </if>
            <if test="record.createdByUserLogin != null">
                CREATED_BY_USER_LOGIN = #{record.createdByUserLogin,jdbcType=VARCHAR},
            </if>
            <if test="record.telecomNumber != null">
                TELECOM_NUMBER = #{record.telecomNumber,jdbcType=VARCHAR},
            </if>
            <if test="record.departmentId != null">
                DEPARTMENT_ID = #{record.departmentId,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update vpn_dial_record
        set VPN_DIAL_RECORD_ID = #{record.vpnDialRecordId,jdbcType=VARCHAR},
        FIRST_NAME = #{record.firstName,jdbcType=VARCHAR},
        VPN_DIAL_CAUSE = #{record.vpnDialCause,jdbcType=VARCHAR},
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
        DIAL_DATE = #{record.dialDate,jdbcType=TIMESTAMP},
        CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
        LAST_UPDATED_STAMP = #{record.lastUpdatedStamp,jdbcType=TIMESTAMP},
        CREATED_STAMP = #{record.createdStamp,jdbcType=TIMESTAMP},
        CREATED_BY_USER_LOGIN = #{record.createdByUserLogin,jdbcType=VARCHAR},
        TELECOM_NUMBER = #{record.telecomNumber,jdbcType=VARCHAR},
        DEPARTMENT_ID = #{record.departmentId,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.asiainfo.vpn.bean.VpnDialRecord">
        update vpn_dial_record
        <set>
            <if test="firstName != null">
                FIRST_NAME = #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="vpnDialCause != null">
                VPN_DIAL_CAUSE = #{vpnDialCause,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                DESCRIPTION = #{description,jdbcType=VARCHAR},
            </if>
            <if test="dialDate != null">
                DIAL_DATE = #{dialDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createdDate != null">
                CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdatedStamp != null">
                LAST_UPDATED_STAMP = #{lastUpdatedStamp,jdbcType=TIMESTAMP},
            </if>
            <if test="createdStamp != null">
                CREATED_STAMP = #{createdStamp,jdbcType=TIMESTAMP},
            </if>
            <if test="createdByUserLogin != null">
                CREATED_BY_USER_LOGIN = #{createdByUserLogin,jdbcType=VARCHAR},
            </if>
            <if test="telecomNumber != null">
                TELECOM_NUMBER = #{telecomNumber,jdbcType=VARCHAR},
            </if>
            <if test="departmentId != null">
                DEPARTMENT_ID = #{departmentId,jdbcType=VARCHAR},
            </if>
        </set>
        where VPN_DIAL_RECORD_ID = #{vpnDialRecordId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.asiainfo.vpn.bean.VpnDialRecord">
    update vpn_dial_record
    set FIRST_NAME = #{firstName,jdbcType=VARCHAR},
      VPN_DIAL_CAUSE = #{vpnDialCause,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      DIAL_DATE = #{dialDate,jdbcType=TIMESTAMP},
      CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      LAST_UPDATED_STAMP = #{lastUpdatedStamp,jdbcType=TIMESTAMP},
      CREATED_STAMP = #{createdStamp,jdbcType=TIMESTAMP},
      CREATED_BY_USER_LOGIN = #{createdByUserLogin,jdbcType=VARCHAR},
      TELECOM_NUMBER = #{telecomNumber,jdbcType=VARCHAR},
      DEPARTMENT_ID = #{departmentId,jdbcType=VARCHAR}
    where VPN_DIAL_RECORD_ID = #{vpnDialRecordId,jdbcType=VARCHAR}
  </update>
</mapper>